{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam culpa qui modi in laudantium beatae facere distinctio, inventore accusamus sint eligendi cupiditate sed repellat amet dicta libero omnis. Molestiae, quo. Optio veritatis quo mollitia cum eligendi fugit nihil odio incidunt, unde rerum similique nam accusamus, quas fuga adipisci possimus, est tempora vero veniam delectus? Minima natus quis vitae adipisci rem sit deleniti autem, accusantium voluptatem. Dolore inventore sunt quibusdam id! Totam dolore quam incidunt. Unde minus nisi illum iusto at tempora dolores sint neque beatae? Autem, nulla. Vitae voluptatem deleniti repudiandae necessitatibus iusto autem, molestias, vel dolorum officia magnam alias?</p>

        <div class="text-center">
            <a href="/signin" class="btn btn-secondary">
                Sign In
            </a>
    
            <a href="/signup" class="btn btn-dark">
                Sign Up
            </a>
        </div>
    </section>
</main>

{% endblock %}
